<launch>
    <node name="sts_qr_locator" pkg="sts_qr_locator" type="locator_node" output="screen" />
    <node name="qr_detector" pkg="dynamics_qr_detector" type="qr_detector" output="screen" />
    <node name="dynamics_qr_marker" pkg="dynamics_qr_marker" type="dynamics_qr_marker" output="screen" />
    <!--  
      <include file="$(find turtlebot3_gazebo)/launch/tgw_arena.launch"></include>
      <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch"></include>
    -->
    </launch>